/*Camas*/
.tituloSeccionCama{

    display: flex;
    flex-grow: unset;
    justify-content: center;
    align-items: center;
    background-image: url("/imagenes/cama/principalCama.png");
    background-position: center;
    height: 30vh;
    
}

.tituloSeccionComedor{

    display: flex;
    flex-grow: unset;
    justify-content: center;
    align-items: center;
    background-image: url("/imagenes/comedor/comedorPrincilal.jpg");
    background-position: center;
    height: 30vh;
    
}

/*Modal Camas*/
.modalSelectColor{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.modal__colores{
    height: 90px;
    width: 90px;
    border-style: solid ;
    margin: 5px 5px 5px 5px ;
    }
.modalcama1__colores--color1, .modalcama3__colores--color1{
  background-image: url(/imagenes/cama/ANDROMEDAAZUL.jpg);
}

.modalcama1__colores--color2, .modalcama3__colores--color2{
  background-image: url(/imagenes/cama/ANDROMEDANEGRO.jpg);
}

.modalcama1__colores--color3, .modalcama3__colores--color3{
  background-image: url(/imagenes/cama/ANDROMEDAGRIS.jpg);
}
.modalcama1__colores--color4, .modalcama3__colores--color4{
  background-image: url(/imagenes/cama/ANDROMEDACAFE.jpg);
}
