/*RETOQUE FORMULARIO*/
.Contactform{
    margin: 10vh 20vh;
    padding: 10vh;
    background-color: #e6c12e17  ;
    
    /*para mobile solo saca margin y padding*/
}
.maps{
    display: flex;
    justify-content: center;
    margin: 1rem;
}